<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>spmjs.bin</title>
</head>
<body>

<div id="head-wrap">
<div id="head">
  <a class="brand" href="/">spmjs.bin</a>
  <ul>
    <% if (user) { %>
      <li>hi, <%= user %></li>
      <li><a href="/logout">logout</a></li>
    <% } else { %>
      <li><a href="/login">login</a></li>
    <% } %>
  </ul>
  <span class="loader hidden"></span>
</div>
</div>

<div id="main">
