<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>spmjs.bin</title>
  <link rel="stylesheet" href="/common.css" />
</head>
<body>

<div id="head-wrap">
<div id="head">
  <a class="brand" href="/">spmjs.bin</a>
  <ul>
    <% if (user) { %>
      <li><a id="save" href="" class="button">save</a></li>
    <% } else { %>
      <li><a id="save" href="" class="button button-disable" data-ot="Login to save.">save</a></li>
    <% } %>
    <li><a id="build" href="" class="button">build</a></li>
    <% if (user) { %>
      <li>hi, <a href="/bins"><%= user %></a> &nbsp;&nbsp;<a href="/logout">logout</a></li>
    <% } else { %>
      <li><a href="/login">login</a></li>
    <% } %>
  </ul>
  <span class="loader hidden"></span>
</div>
</div>

<div id="main">
