<% include _head %>

<link rel="stylesheet" href="/home.css" />
<link rel="stylesheet" href="/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="/codemirror/theme/solarized.css" />

<div class="panel" id="html">
  <textarea style="display:none;"><%- html %></textarea>
</div>
<div class="panel" id="css">
  <textarea style="display:none;"><%- css %></textarea>
</div>
<div class="panel" id="js">
  <textarea style="display:none;"><%- js %></textarea>
</div>
<div class="panel" id="play"></div>

<script src="https://a.alipayobjects.com/u/localhost/js/201406/2lpMjzaLz3.js"></script>
<script src="/home.js"></script>

<% include _foot %>
