
#content {
  width: 90%;
  margin: 0 auto;
}

#content ul {
  margin: 0;
  padding: 0;
}

#content li {
  font-size: 16px;
  margin-bottom: 12px;
  color: #999;
}

#content li span a {
  background: #008000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 3px;
}
