
#content {
  width: 90%;
  margin: 0 auto;
}

#content ul {
  margin: 0;
  padding: 0;
}

#content li {
  font-size: 16px;
  margin-bottom: 8px;
  color: #999;
}

#content li span a {
  color: #666;
}
