
@import url('./loader.css');

html, body {
  overflow: hidden;
}

#head-wrap {
  background: #444;
  height: 46px;
  line-height: 46px;
}
#head {
  position: relative;
  font-size: 18px;
  overflow: hidden;
}
#head a {
  color: #fff;
}
#head .loader {
  position: absolute;
  left: 50%;
  top: -40px;
  opacity: 0.5;
}

#head .brand {
  margin-left: 8px;
  text-shadow: 0 0 70px #FFF;
  transition: all 0.3s ease;
  display: inline-block;
}
#head ul {
  position: absolute;
  right: 8px;
  top: 0;
  list-style: none;
  margin: 0;
  color: #fff;
}
#head li {
  float: left;
  margin-left: 8px;
}

#foot-wrap {
  margin-top: 40px;
}
#foot {
  font-size: 14px;
}
