
@import url('./loader.css');

html, body {
  overflow: hidden;
}

#head-wrap {
  background: #444;
  height: 46px;
  line-height: 46px;
}
#head {
  position: relative;
  font-size: 18px;
  overflow: hidden;
}
#head a {
  color: #fff;
}
#head .loader {
  position: absolute;
  left: 50%;
  top: -40px;
  opacity: 0.5;
}

#head .brand {
  margin-left: 8px;
  text-shadow: 0 0 70px #FFF;
  transition: all 0.3s ease;
  display: inline-block;
}
#head ul {
  position: absolute;
  right: 8px;
  top: 0;
  list-style: none;
  margin: 0;
  color: #fff;
  font-size: 14px;
}
#head li {
  float: left;
  margin-left: 8px;
}

#head .button {
  border: 2px solid #00A1CB;
  color: #00A1CB;
  background: none;
  font-size: 14px;
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 4px 12px;
  margin-top: 8px;
}
#head .button-disable {
  color: #666 !important;
  border: 2px solid #666 !important;
}
#head .button:hover {
  color: #00c9fe;
  border: 2px solid #00c9fe;
  text-decoration: none;
}

#head #save {
  color: #E54028;
  border: 2px solid #E54028;
}
#head #save:hover {
  color: #eb6855;
  border: 2px solid #eb6855;
}

#foot-wrap {
  margin-top: 40px;
}
#foot {
  font-size: 14px;
}
