
@import url('./codemirror.css');
@import url('./solarized.css');

.panel {
  position: absolute;
  top: 50px;
  bottom: 0;
  border-right: 1px solid #d8d8d8;
  background-color: #F7F7F7 !important;
}
.panel.focus {
  background-color: #fff !important;
}
#html {
  left: 0;
  right: 75%;
  background: url(img/html.png) no-repeat center center;
}
#css {
  left: 25%;
  right: 50%;
  background: url(img/css.png) no-repeat center center;
}
#js {
  left: 50%;
  right: 25%;
  background: url(img/javascript.png) no-repeat center center;
}
#play {
  left: 75%;
  right: 0;
  background: url(img/demo.png) no-repeat center center;
}

.panel .CodeMirror {
  height: 100%;
  background: transparent;
  line-height: 1.2em;
  font-family: SourceCodeProRegular, Menlo, Monaco, consolas, monospace !important;
  font-size: 14px;
  -webkit-transform: translateZ(0); /* Workaround for OSX antialias issue */
}
.panel .CodeMirror-gutters {
  background: transparent;
  border-right: 0;
}
.panel .CodeMirror-scroll {
  height: 100%;
}
.panel .CodeMirror div.CodeMirror-selected {
  background: rgba(0,0,0,0.1);
}
.panel .CodeMirror-focused div.CodeMirror-selected {
  background: rgba(0,0,255,0.1);
}
.panel .CodeMirror .errorLine {
  background: rgba(255,0,0,0.25);
}
.panel .CodeMirror .esprima-error {
  color: #f00;
  text-align: right;
  padding: 0px 20px;
}
